{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="wrappermax">
    <a href="/">
        <div class="logo">
            <img src='{% static "images/main/logo.png" %}' alt="PetroJet Logo">
        </div>
        </a>
    <div class="text-center mt-4 name">
        PetroJet
  </div>
  <form method="get" action="{% url 'mp_search_list' %}">
    {% csrf_token %} {{filter.form|crispy}}
    <button type="submit" class="btn">Search</button>
  </form>
</div>
{% endblock content %}
