{% extends "generic_index_full.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroJet</title>
    <link rel="icon" type="image/x-icon" href='{% static "images/logo.png" %}'>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="wrappermax">
        <a href="/">
        <div class="logo">
            <img src='{% static "images/logo.png" %}' alt="PetroJet Logo">
        </div>
        </a>
        <div class="text-center mt-4 name">
            PetroJet
        </div>
        <form method = "get" action="{% url 'mp_search_list' %}">
            {% csrf_token %}
            {{filter.form|crispy}}
        <button type="submit" class="btn">Search</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}