{% load static %}
<nav dir="ltr" class="navbar navbar-expand-lg container sticky-top mt-3 br">
  <div class="container-fluid">
    <a class="navbar-brand" 

    {% if user.username == "7ossam" %}
    href="{%url 'test_home'%}">
    {% else %}
    href="{%url 'home'%}">
    {% endif %}
      <img
        {% if user.username == "7ossam" %}
          src='{% static "images/main/dv.gif" %}'
        {% else %}
          src='{% static "images/main/logo.png" %}'
        {% endif %}
        data-bs-title="Home"
        alt="Home"
        width="45"
        height="45"
        class="main-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
        <li class="nav-item">
          <a class="nav-link" href="{% url  'report_home' %}">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url  'project_home' %}">Projects</a>
        </li>

        <!-- Drop-down -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="{% url  'underconstruction' %}"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            More..
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url  'eqp_home' %}"
                >Equipment</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url  'mp_home' %}">Man-Power</a>
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >Main schedule</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >Engineering</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >Procurement</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >Construction</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >DCC</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >QC</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >Safety</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="{% url  'underconstruction' %}"
                >Security</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/admin">Admin</a></li>
          </ul>
        </li>
      </ul>
      <!-- space -->
      <div class="d-flex">
        <div>
          {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
            <!-- Drop-down -->
            <li class="nav-item dropdown d-flex">
              <a
                class="nav-link dropdown-toggle"
                href="{% url  'underconstruction' %}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{user.first_name}} {{user.last_name}}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="btn btn-outline-none me-3"
                    href="{% url  'user_page' user.username %}"
                    >Profile</a
                  >
                </li>
                <li>
                  <a
                    class="btn btn-outline-none me-3"
                    href="{% url  'logout_user' %}"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <a class="btn btn-outline-none me-3" href="{% url  'login' %}"
            >Login</a
          >
          {% endif %}
        </div>
        <div>
          <form class="d-flex" role="search" >
            <input
              class="form-control me-2"
              type="search"
              placeholder="Beta V2.5"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-primary me-lg-4 me-md-3 me-sm-1" disabled
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
