{% extends "index.html" %}
{% load static %}
{% block content %}


<div class="container br d-flex  card mt-4 p-4">
  <div class="row justify-content-evenly">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-secondary"
        data-bs-toggle="popover" data-bs-placement="left"
        data-bs-custom-class="custom-popover"
        data-bs-title="Alert !"
        data-bs-content="Only the admin can create new Project.">
        Create New Project
      </button>
      {% comment %} <a href="{% url  'create_project' %}"> <button class="btn btn-primary me-md-2 btn-md" type="button">Create New Project</button></a> {% endcomment %}
      <button class="btn btn-secondary btn-md disabled" type="button">Edit Project</button>
    </div>
  </div>
</div>
<div class="container br d-flex  card mt-4 p-4">
    <div class="row justify-content-evenly">
        {% for project in name %}
        <div class="card br m-2 dh" style="width: 18rem;">
          <img src="{{ project.photo.url }}" class="card-img-top br mt-3" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ project.project_name }}</h5>
            <p class="card-text">{{ project.recipient }}</p>
            <a href="{% url  'underconstruction' %}" class="btn btn-primary">Open Project Control</a>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock  %}