{% extends "index.html" %} {% load static %} {% block content %}

<div class="container br d-flex card mt-4 p-4">
  <h1 class="text-center bold mt-3 mb-0">
    Test Module
  </h1>
  <hr />
  <div class="row justify-content-evenly">
    <div class="card text-center br m-2" style="width: 18rem">
      <div class="card-body">
        <div dir="rtl" class="">
          <h3 class="card-title">manpower</h3>
        </div>
        <a href="{% url  'manpower_test' %}" class="btn btn-primary"
          >Projects</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
